:root {
    max-width: 100%;
}

body {  
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: white;
    padding: 0;
    margin: 0;    
}

.head {
    background: #002d5f;
    padding: 1rem;
    max-width: 100%;
}

.main {
    background: white;
    text-align: center;
    max-width: 100%;
    padding: 1rem;
    flex: 1 0 auto;
    
    }

footer {
    background: #002d5f;
    width: 100%;
    min-height: auto;
    margin-top: auto;
}

h1 {
    color: white;
}

h2 {
    margin: 0px;
}

.signInButton {
    background-color: #3381c6;
    padding: 1rem;
    border: 0px;
    border-radius: 20px;
    color: white;
    justify-self: left;
    float: left;
    min-height: 2.5rem;
    font-weight: bold;
    font-size: large;

}

.loginInputs {
    margin-top: 2rem;
}

.logInScreen {
    display: flex;
    flex-direction: column;
    background-color: #002d5f;
    color: white;
    padding: .5rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    max-width: 600px;
    min-height: 500px;

}

.img1 {
    align-self: center;
    margin-top: 3rem;
}

.signInButtonContainer {
    width: 80%;
    align-self: center;
    margin-top: 1rem;

}

input {
    padding: 1rem;
    margin: .5rem;
    width: 80%;
    border-radius: 20px;
    border: 0px;
    font-size: large;

}

img {
    max-width: 60%;
    margin: 1rem;
}

.logoIMG {
    width: 25%;
    min-width: 150px;
    max-width: 200px;
    padding: 0px;
    margin: 0px;
    
}

form {
    margin: .5rem;
}



.githubLogo {
    width: 10%;
    padding: 1rem;
    max-width: 70px;
    ;
}

.githubLogo:hover {
    filter: alpha(opacity=80);
    opacity: .80;
}

button:hover {
    filter: alpha(opacity=80);
    opacity: .80;
}


.nowBody {
    color: white;
    background-color: black;
    display: flex;
    }

.entryContainer {
    background-color: #002d5f;
    padding: 1rem;
    margin: 1rem;
    max-width: 600px;
    width: 80%;
    border-radius: 20px;
    align-self: center;
    
}

.topLevel {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.nameLocation {
    padding: 1rem;
    font-size: x-large;
    margin: 0px;
}

.time {
    align-self: right;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem;
    margin: 0px;
    align-self: center;
    
}
.cardTitle {
    margin: .3rem;
    font-size: 1rem;
}
.cardName {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.description {
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    margin: 0rem;
    font-size: 1rem;
}

.outTime {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    margin-top: .5rem;
    color: #ff5757;
}

.outButton {
    padding: 1rem;
    width: 40%;
    border: 0px;
    border-radius: 20px;
    background-color: #ff5757;
    color: white;
    font-size: large;
    font-weight: bold;
}

nav {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 600px;
    
}

.navContainer {
    display: flex;
    background-color: #3b3b3b;
    color: white;
    margin: 0;
    width: 100%;
}

.navElement {
    align-self: center;
    width: 100%;
    background: transparent;
    border: 0px;
    color: white;
    padding: 1rem;
    font-size: 2rem;
}

.mapBody {
    background-image: url(/images/map.png);
    height: 1000px;
}

.mapDiv {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    height: 1000px;
}

.pinpoint {
    width: 4rem;
    height: 4rem;
    padding: 2rem;
}

.pinpoint:hover {
    filter: alpha(opacity=80);
    opacity: .80;
}
.futureBody {
    background-color: black;
}
.futureContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: black;
}

.futureEvent {
    max-width: 600px;
    width: 90%;
    background: linear-gradient(to bottom, #002d5f 50%, #3381c6 50%);
    margin: 1.5rem;
    margin-bottom: 0;
    border-radius: 20px;
    color: white;
}
.nameAndTime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.futureTime {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
}
.futureLocation {
    margin: 0;
}
.headerLevel {
    height: 50%;
    padding: .8rem;
}
.bottomLevel {
    height: 50%;
    padding: .8rem;
}
.noMore {
    color: #ff5757;
    padding: 0;
    margin: .5rem;
}